.MoviesPage {
  color: rgb(226, 226, 226);
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(0, 0, 0)
  );
}

.MoviesPage-Header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.MoviesPage-Logo {
  height: 25px;
  width: auto;
}

.MoviesPage-UserIcon img {
  height: 25px;
}

.MoviesPage-Menu {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 600px;
  height: 70px;
}

.MoviesPage-Bar {
  display: flex;
  gap: 25px;
  width: auto;
}

.MoviesPage-Content {
  display: flex;
  flex-direction: column;
}

.MoviesPage-MovieBox {
  width: 100%;
  height: 1080px;
  position: relative;
}

#img {
  height: 1080px;
  width: 100%;
}

.MoviesPage-Movie {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: inset 0px -89px 21px -40px rgba(22, 22, 22, 1);
  width: 100%;
  height: 100%;
}

.MoviesPage-MovieContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.8em;
  width: auto;
  height: auto;
  padding: 100px 50px;
}

.MoviesPage-MovieContent-Desc {
  max-width: 1000px;
}

.MoviesPage-MovieContent button {
  border: inherit;
  margin: 30px 15px;
  font-size: 1.3em;
  width: 200px;
  height: 50px;
}

.MoviesPage-Movies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px;
  width: 94%;
}

.MoviesPage-Movies-Bar {
  display: flex;
  gap: 10px;
  width: 100%;

  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

@media (max-width: 1500px) {
  .MoviesPage-Menu {
    padding-right: 0px;
  }
}
